POSTGRES_URL=postgresql://postgres:123456789@db:5432/game_store


POSTGRES_USER=postgres
POSTGRES_PASSWORD=123456789
POSTGRES_DB=game_store

ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=120
SECRET_KEY=


REDIS_URL=redis://redis:6379/0


MAIL_USERNAME=example@gmail.com
MAIL_PASSWORD=
MAIL_FROM_NAME=GAME_SHOP_OWNER


stripe_secret_key=
stripe_publishable_key=

STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOK=
